{#
/**
 * @file advert.html.twig
 * Default theme implementation to present Advertisement data.
 *
 * This template is used when viewing Advertisement pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_advert()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('advert') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
